/* Footer.css */

.footer {
  background-color: #0e0e0e;
  color: white;
  padding: 20px 0;
  margin-top: 16%;
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px 0;
  border-bottom: 1px solid #37475a;
}

.footer-section {
  flex: 1;
  margin: 10px;
  min-width: 200px;
}

.footer-section h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 5px;
}

.footer-section ul li a {
  color: white;
  text-decoration: none;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
}

.footer-logo a {
  color: white;
  font-size: 24px;
  text-decoration: none;
}

.footer-logo a:hover {
  text-decoration: underline;
}

.footer-bottom p {
  margin: 5px 0;
  font-size: 14px;
}
footer p {
  text-align: left;
  margin-left: 5%;
}
/* Responsive Design */

@media (max-width: 768px) {
  .footer-top {
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    margin: 10px 0;
    text-align: center;
  }

  .footer-bottom {
    text-align: center;
  }
}
